<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password-Protected File Sharing</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container2">
        <div class="message-box">
            <h1>Uploaded successfully</h1>
            <p>Share this link: <a href=<%= data.link %>><%= data.link %></a></p>
        </div>
    </div>
</body>

</html>